@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ECECEC;
  color: #1F1F1F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.wrapper {
  background: #FFFFFF;
  border-radius: 30px;
  margin: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--primary {
  background: #3B71D3;
  color: #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
}

.slider {
  position: relative;
  
}

.slider__data {
  display: flex;
  flex-direction: column;
  gap:20px;
  position: relative;
  width: 960px;
  height: calc(100vh - 60px);
}

.slider__info {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding-inline: 20px;
}
.slider__info .slider__blocktitle .slider__title {
  /* padding: 30px 0 60px; */
  font-size: 36px;
  font-weight: 700;
  display: none;
}
.slider__info .slider__blocktitle .slider__title.active {
  display: block;
}
.slider__info .slider__blockdescription .slider__description {
  height: 100px;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  display: none;
  text-align: justify;
}
.slider__info .slider__blockdescription .slider__description.active {
  display: block;
}
.slider__info .slider__blockbutton .slider__button {
  margin-bottom: 20px;
  display: none;
}
.slider__info .slider__blockbutton .slider__button.active {
  display: block;
}
.slider__info .slider__chevron {
  position: absolute;
  top: 25%;
  left: 12px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  cursor: pointer;
}
.slider__info .slider__chevron .slider__arrow {
  width: 60px;
  height: 60px;
  background: #F6F6F6;
  opacity: 0.5;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__info .slider__chevron .slider__arrow:hover {
  opacity: 1;
}
.slider__info .slider__chevron .slider__arrow.active .arrow {
  background: #3B71D3;
}
.slider__info .slider__chevron .slider__arrow .arrow {
  width: 15px;
  height: 2px;
  background: #1F1F1F;
  position: relative;
}
.slider__info .slider__chevron .slider__arrow .arrow--one {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-bottom: 7px;
}
.slider__info .slider__chevron .slider__arrow .arrow--two {
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
}
.slider__info .slider__arrow--left {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.slider__info .slider__arrow--right {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.slider__photo {
  grid-column: span 5;
  /* grid-row: 1/3; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
.slider__photo .slider__slide {
  width: 100%;
  height:  100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.slider__photo .slider__slide.active {
  display: block;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 12px;
  left:50%;
}
.slider__dots .slider__dot {
  width: 16px;
  height: 16px;
  background: #F6F6F6;
  margin: 0 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.slider__dots .slider__dot.active {
  background: #3B71D3;
}