@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ECECEC;
  color: #1F1F1F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.wrapper {
  background: #FFFFFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: stretch;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--primary {
  background: #3B71D3;
  color: #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
}

.slider {
  position: relative;
}

.slider__info {
  grid-column: span 5;
  grid-row: 1;
  padding-left: 100px;
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.slider__info .slider__blocktitle .slider__title {
  padding: 120px 0 60px;
  font-size: 68px;
  font-weight: 700;
  display: none;
}
.slider__info .slider__blocktitle .slider__title.active {
  display: block;
}
.slider__info .slider__blockdescription .slider__description {
  height: 7em;
  overflow: hidden;
  font-size: 24px;
  line-height: 33.6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  display: none;
}
.slider__info .slider__blockdescription .slider__description.active {
  display: block;
}
.slider__info .slider__blockbutton .slider__button {
  margin-bottom: 100px;
  display: none;
}
.slider__info .slider__blockbutton .slider__button.active {
  display: block;
}
.slider__info .slider__chevron {
  position: absolute;
  top: 50%;
  left: 12px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  cursor: pointer;
}
.slider__info .slider__chevron .slider__arrow {
  width: 60px;
  height: 60px;
  background: #F6F6F6;
  opacity: 0.5;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__info .slider__chevron .slider__arrow:hover {
  opacity: 1;
}
.slider__info .slider__chevron .slider__arrow.active .arrow {
  background: #3B71D3;
}
.slider__info .slider__chevron .slider__arrow .arrow {
  width: 15px;
  height: 2px;
  background: #1F1F1F;
  position: relative;
}
.slider__info .slider__chevron .slider__arrow .arrow--one {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-bottom: 7px;
}
.slider__info .slider__chevron .slider__arrow .arrow--two {
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
}
.slider__info .slider__arrow--left {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.slider__info .slider__arrow--right {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.slider__photo {
  grid-column: span 7;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__photo .slider__slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.slider__photo .slider__slide.active {
  display: block;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  margin: auto;
  margin-bottom: 12px;
  grid-column: span 5;
  grid-row: 2;
}
.slider__dots .slider__dot {
  width: 16px;
  height: 16px;
  background: #F6F6F6;
  margin: 0 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.slider__dots .slider__dot.active {
  background: #3B71D3;
}

@media screen and (max-width: 1920px) {
  .grid {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
@media screen and (max-width: 1680px) {
  .grid {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media screen and (max-width: 1440px) {
  .grid {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  body {
    padding: 101px 140px;
  }
  .slider__info {
    padding-left: 80px;
  }
  .btn--primary {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .grid {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .slider__info {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1126px) {
  .slider__info {
    padding-left: 20px;
  }
  .slider__info .slider__blocktitle .slider__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
  body {
    padding: 0;
  }
  .wrapper {
    max-height: none;
    padding: 66px 62px;
  }
  .slider__info {
    grid-column: span 8;
    grid-row: 1;
    padding: 0;
  }
  .slider__info .slider__blocktitle .slider__title {
    padding: 0 0 20px;
    font-size: 60px;
  }
  .slider__info .slider__blockdescription .slider__description {
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 47px;
  }
  .slider__info .slider__blockbutton .slider__button {
    margin-bottom: 18px;
  }
  .slider__info .slider__chevron {
    display: none;
  }
  .slider__photo {
    grid-column: span 8;
    grid-row: 2;
  }
  .slider__dots {
    grid-column: span 8;
    grid-row: 3;
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .wrapper {
    padding: 46px 40px;
  }
  .slider__info {
    grid-column: span 6;
  }
  .slider__info .slider__blocktitle .slider__title {
    font-size: 50px;
  }
  .slider__info .slider__blockbutton .slider__button {
    margin-bottom: 18px;
  }
  .slider__photo {
    grid-column: span 6;
  }
  .slider__dots {
    grid-column: span 6;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .wrapper {
    padding: 57px 38px;
  }
  .slider__info {
    grid-column: span 4;
  }
  .slider__info .slider__blocktitle .slider__title {
    font-size: 40px;
  }
  .slider__info .slider__blockdescription .slider__description {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 22px;
  }
  .slider__info .slider__blockbutton .slider__button {
    margin-bottom: 16px;
  }
  .slider__photo {
    grid-column: span 4;
  }
  .slider__dots {
    grid-column: span 4;
    margin-top: 12px;
  }
}